*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header span {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

header > nav > a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
}

header > nav > a:hover {
    text-decoration: underline;
}

.header-iframe {
    width: 100%;
    height: auto;
    border: none;
}